:root{
    --colorMain : #0c134faf;
    --color2nd : #1d277d9c ;
    --color3rd : #5c469ca6 ;
    --color4th : #d5adfc00 ;
}
.main{
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    padding:2rem;
    background-color: var(--colorMain) ;
    color: rgba(240, 255, 255, 0.775);
    border-radius: 5%;
}

.identification {
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background-image: url("../public/parrots-1729965_12802.jpg");
    background-size: cover;
    padding: 20px;
    margin: 10vh 10vw;
    color: var(--color4th) ;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif ;
    border-radius: 5%;
}

.bonjour {
    display : inline-block ;
}

.bonjour span {
    /* font-size: 2rem; */
    font-weight: bold;
}


input{
    background-color: var(--color3rd);
    background-color: rgba(227, 124, 205, 0.3);
    border-radius: 5px;
    padding: 4px;
    margin : 2px ;
    color: rgba(240, 255, 255, 0.804);
}

label{

    background-color: rgba(242, 69, 138, 0.19);
    border-radius: 5px 15px;
    padding: 10px;
    margin : 14px ;
}

.reponsesChoixRadio{
    display: flex;
    flex-direction: column;
}
.reponseChoixRadio{
    display: flex;
    flex-direction: row;
}

select{
    color: white;
    padding: 4px;
    margin : 2px ;
    border-radius: 5px;
}

button{
    padding: 2px;
    margin : 2px ;
    width: 100px;
    border-radius: 5px;
}
.questionsSyntheseScore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.questionsSyntheseScore header {
  text-align: center;

}

.comparatifReponses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.reponseNeutre {
    background-color: rgb(159, 106, 188) ;
    
}


.reponseBonne{
    background-color: rgb(50, 232, 5) ;
    
}

.reponseMauvaise{
    background-color: rgb(255, 0, 0) ;
    
}

.reponseAttendueCachee{
    display: none;
    background-color: rgb(249, 9, 9) ;
}

.reponseAttendueVisible{
    display :block ;
    background-color: rgb(249, 9, 9) ;
}

.score {
    font-size :xx-large;
    color: #000;
    background-color: chocolate;

}

.commentaire {
    font-size :xx-large;
    color: #000;
    background-color: rgb(231, 0, 227);
}